<div id="<%= dom_id livre %>">

  <div class="jumbotron">
  <h2 class="display-4">
   <%= livre.titre %>
  </h2>
  <p class="lead"> 
    Auteur: <%= livre.auteur %><br></br>
    Editeur: <%= livre.editeur %></p>
    Isbn: <%= livre.isbn %><br/>
    Stock:  <%= livre.stock %><br/><br/>
</div>

