<div id="<%= dom_id materiel %>">

  <div class="jumbotron">
  <h2 class="display-4">
   <%= materiel.marque %>
  </h2>
  <p class="lead"> 
    Type de matériel: <%= materiel.typeM %><br></br>
   
    Etat: <%= materiel.etat %><br/>
    Nombre en stock:  <%= materiel.nbrStock %><br/><br/>
</div>




